<p id="notice"><%= notice %></p>

<p>
  <strong>Imagen:</strong>
  <%= @foto.imagen %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @foto.desc %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
